<div class="content" th:fragment="indexContent">
    <h1>Welcome to DoME</h1>
    <p>this is collaboration between the MATSE apprantices to train our collaboration skills and create a task
        management service.</p>

    <p>the goal is to create an app where you will be able to create, manage and assign tasks to members of your
        project.
        Ideally the app will be able to read <b>TODO</b> comments from the source code of your working project, once
        linked to the gitlab repo</p>

    <div class="footnote" th:replace="fragments/footer :: foot">
        <div class="disclaimer">
            <p>disclaim this</p>
        </div>
    </div>
</div>